* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body {
    max-width: 1280px;
    margin: 0 auto;
    height: 200vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;

}

#haosiem {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    margin-left: 50px;
    margin-top: 10px;


}


.navbar {
    position: fixed;
    z-index: 1;
    /* margin-top: 10px; */

    /* margin-left: 50px; */
    /* background-color: white; */
    width: 100vw;


}

/* .navbar-toggler-icon {
    background-color: gray;
} */


.navbar-brand {

    color: rgb(96, 94, 94);
    margin-top: -4px;
    font-style: normal;
    /* width: 100%; */
}

.navbar-brand:hover {
    text-decoration: none;
    color: black
}


.navbar ul {
    /* display: flex; */

    margin: 0 auto;
    margin-top: 20px;

}

.navbar li {
    margin-left: 20px;
    /* margin-bottom: 10px; */
}

.navbar li a {
    font-size: 13px;
    color: rgb(43, 41, 41);

}

.navbar li a:hover {
    text-decoration: none;
    color: black
}

/* .container {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
} */



.karo {
    margin-top: 90px;
}