* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

}

body {
  /* font-family: "Cinzel", serif; */
  font-family: "Cormorant", serif;

  /* overflow-x: hidden; */
  background-color: #f8f9fa;
}




.navbar {
  position: fixed;
  z-index: 1;
  background: white;
  /* padding: 10px; */
  width: 100%;

}

.brandlogo {
  text-align: center;
  color: rgb(0, 0, 0);

  margin-left: 90px;
}

.brandlogo:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navbar ul {
  margin: 0 auto;
}

.navbar li {
  margin-top: 40px;
  margin-left: 40px;
}

.navbar li a {
  font-size: 14px;
  font-family: "Cinzel", serif;
}

@media (max-width: 775px) {
  .navbar li {
    margin-left: 2px;
    margin-top: 4px;
  }
}

.personalshoper-text {
  position: relative;
}

.personalshoper-text::before {
  content: url(https://www.flaticon.com/svg/static/icons/svg/590/590507.svg);
  position: absolute;
  width: 30px;
  height: 30px;
  left: 250px;
}

.personalshoper-text::after {
  content: url(https://www.flaticon.com/svg/static/icons/svg/590/590507.svg);
  position: absolute;
  width: 30px;
  height: 30px;
  right: 250px;
}


.card-text {
  padding: 10px;
  background-color: #f8f9fa;
}


.offer-text {
  font-size: 20px;
  font-family: "Cormorant",
    serif;
}

.karo {
  margin-top: 72px;
}

#voucher {
  margin-bottom: 10px;
}

#about {
  /* margin: 0 auto; */
  height: 50vh;
}



/* PRICING */

.rounded-lg {
  border-radius: 1rem !important
}

.text-small {
  font-size: 0.9rem !important
}

.pricing {
  color: #fff
}

.custom-separator {
  width: 5rem;
  height: 6px;
  border-radius: 1rem
}

.text-uppercase {
  letter-spacing: 0.2em
}

.btn-warning {
  color: #fff;
  background-color: #a59c59;
  border: none;
}

.btn-warning:hover {
  color: #fff;
  background-color: #b5411e;
}

.bg-warning {
  background-color: #a59c59 !important;
}



/* body {
  background: #f8c246;
  background: -webkit-linear-gradient(to right, #f8c246, #f8c246);
  background: linear-gradient(to right, #f8c246, #f8c246);
  color: #514B64;
  min-height: 150vh
}
 */





/* Footer CONTACT */