* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  /* font-family: "Cinzel", serif; */
  font-family: "Cormorant", serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* overflow-x: hidden; */
  background-color: #f8f9fa;
}

.navbar {
  position: fixed;
  z-index: 1;
  background: white;
  /* padding: 10px; */
  width: 100%;
}

.brandlogo {
  text-align: center;
  color: rgb(0, 0, 0);
  /* text-decoration: underline; */
  /* margin-left: 90px; */
}

.brandlogo:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navbar ul {
  margin: 0 auto;
}

.navbar li {
  margin-top: 40px;
  margin-left: 50px;
}

.navbar li a {
  font-size: 15px;
  font-family: "Cinzel", serif;
}

@media (max-width: 775px) {
  .navbar li {
    margin-left: 2px;
    margin-top: 4px;
  }
}

.card-text {
  padding: 10px;
  background-color: #f8f9fa;
}


.offer-text {
  font-size: 20px;
  font-family: "Cormorant",
    serif;
}

.karo {
  margin-top: 72px;
}

#voucher {
  margin-bottom: 10px;
}

#about {
  /* margin: 0 auto; */
  height: 50vh;
}